.singlePage {
    flex: 0.7;
   
    padding: 20px;

    .imgContainer {
        width: 100%;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .heading {
        text-align: center;

        h1 {
            padding-top: 30px;
            padding-bottom: 20px;
        }


        span {
            font-size: 2rem;
        }
    }

    p {

        line-height: 30px;
        font-size: 20px;
        text-align: justify;
    }


}
@media screen and (max-width: 600px) {
    .singlePage{
      box-sizing: border-box;
        
    //    width:fit-content;
    //    这个能很简答的把内容居中， 但是Firefox浏览器不支持，有没有其他办法呢
    }
      
    } 
