.container {
    
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
   background-color: aliceblue;
    display: flex;
    align-items: center;


    .middle {

        flex: 0.5;

        ul {
            display: flex;
            flex-direction: row;
            width: auto;
            justify-content: space-between;
            list-style: none;

            li{
                cursor: pointer;

            &:hover{
                background-color: bisque;
            }
            }
        }


    }


}